<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OAuth 2.0 Tutorial - Authorization Server</title>
</head>
<body>
<h1>OAuth 2.0</h1>
<h2>Authorization Server</h2>
<form method="post" action="/grant">
    <p>Hello authenticated <span class="label label-info">{{user_id}}</span>!</p>
    <p>Do you approve granting authority to the client application named <span class="label label-info">{{client_id}}</span>?</p>
    <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
    <input class="btn btn-default" type="submit" value="No">
    <input class="btn btn-success" type="submit" value="Yes">
</form>
</body>
</html>
